<h1 class="primary text-center very-bold">CREATE AN ACCOUNT</h1>
<div class="form-group text-center" style="padding-top:120px;">
    <input type="text"  name="name" placeholder="What's your name?" ng-model="itinerary.extra_info.travelers">
    <input type="email" name="email" placeholder="...and your email?" ng-model="itinerary.user.email" ng-minlength=3 required />
    <div class="large-4 small-12 large-centered columns error-container" 
         ng-show="form_container.$dirty && form_container.$invalid  && form_container.submitted">
      <small class="error" 
             ng-show="form_container.$error.required">
             Your email is required.
      </small>
      <small class="error" 
             ng-show="form_container.$error.minlength">
              Your email is required to be at least 3 characters
      </small>
      <small class="error" 
             ng-show="form_container.$error.email">
             That is not a valid email. Please input a valid email.
      </small>
    </div>
    <input type='submit' class="tertiary button serif" ng-click="validate()"></input>
</div>