<% set_page_title("Trip Dashboard - OutTrippin") %>
<div class="row top">
	<div class="small-12 text-center columns">
		<h1>My Trips</h1>
		<hr style="border:2px solid #4a4a4a; width:60px; margin:25px auto 20px auto" />
	</div>
</div>
<%= render @itineraries %>