<% set_page_title("Trip Dashboard - OutTrippin") %>
<div class="row">
	<div class="large-11 large-centered columns">
		<div class="row"><h3>My Trips</h3></div>
		<%= render @itineraries %>
	</div>
</div>