<h1 class="primary text-center very-bold">GUEST INTERESTS</h1>
<div class="form-group" style="width: 800px; margin-left: auto; margin-right: auto; padding-top:30px;">
  <div ng-switch="showstyles">
    <div  ng-switch-when="list">
       <span ng-repeat="style in styles">
          <input type='checkbox'  id="{{style}}" value="{{style}}" check-list='checked_styles' >
            <label for="{{style}}" class="tertiary styles serif button"> {{style}} </label>
          </input>
        </span>
        <h6 class="white subheader break" ng-click="setStyles('more')">+ add more interests</h6>
    </div>
    <div ng-switch-when="more">
         <h6 class="white subheader" ng-click="setStyles('list')">- back</h6>
        <textarea class="break"placeholder="Did we miss anything?" ng-model="itinerary.extra_info.details"></textarea>
    </div>
  </div>
    <input type='submit' class="tertiary serif button" ng-click="itinerary.extra_info.styles=checked_styles;save();setStep(6)"></input>
</div>
