<% set_page_title(@itinerary.extra_info[:name].blank? ? "Trip to " + @itinerary.destination + " - OutTrippin" : @itinerary.extra_info[:name] + " - OutTrippin") %>

<%= content_for :left_col do %>
  <%= render 'itinerary_left_col' %>
<% end %>
<div class="cover"></div>
<div id="overlay"></div>
	<div class="header">
		<% if current_user && current_user.is?("expert") %>
		  <%= render 'itineraries/show/expert' %>
		<% else %>
		  <%= render 'itineraries/show/owner' %>
		<% end %>
