<style>body{overflow-y:scroll;}</style>
<div class="section" style="background:#fdfdfd; position:relative; height:{{winHeight}}">
  <div class="large-12 large-centered text-center small-12 columns" style="height: 35%;position: Absolute;top: 0;padding-top: 40px;" >
    <h2 class="primary very-bold" style="margin-bottom:0;">DIGITAL SUBSCRIPTION</h2>
    <h4 class="serif subheader" style="width:800px; margin-left:auto; margin-right:auto;">puts your brand on <em>every device</em> with content shareable in web, mobile and tablet formats via reservation emails, check-in emails, etc.</h3>
  </div>
  
  <div class="large-12 small-12 columns" style="background-image:url(<%= asset_path('digital.jpg') %>); height: 65%; bottom: 0; width: 80%; position: absolute; border-radius: 4px 4px 0 0; right: 10%; left: 10%; background-position: 0 40%; background-size: cover;">
  </div>
    
  </div>
</div>
<div class="section" style="background:#f3f3f3; position:relative; height:{{winHeight}}">
  <div class="large-12 large-centered text-center small-12 columns" style="height: 30%;position: Absolute;top: 0;padding-top: 20px;" >
    <h2 class="dark very-bold" style="margin-bottom:0;">PRINT OPTIONS</h2>
    <ul class="short-break large-5 columns large-centered small-12 small-block-grid-2">
      <li><a href="#" ng-class="{'active' : !inhouse}" class="button radius expand serif pickthis " ng-click="inhouse=false">Delivered</a></li>
      <li><a href="#" ng-class="{'active' : inhouse}" class="button radius expand serif pickthis" ng-click="inhouse=true">In House</a></li>
    </ul>
  </div>
  <div ng-show="!inhouse" style="height: 70%; bottom: 0; width: 90%; position: absolute; border-radius: 4px 4px 0 0; left: 10%; background-position: 0 40%; background-size: cover;">
    <div style="width:30%; float:left;"><h4 class="serif subheader" style="padding-right:2em; padding-top:1em;">Place your brand in <em>every pocket</em> with high quality printed, foldable city guides to share with guests in rooms, reservation counters, etc.</h3></div>
    <div style="width:70%; float:right; height:100%; background-image:url(<%= asset_path('printedguide.png') %>); background-size: cover; background-position: 0 50%;"></div>
  </div>
  <div ng-show="inhouse" style="height: 70%; bottom: 0; width: 90%; position: absolute; border-radius: 4px 4px 0 0; left: 10%; background-position: 0 40%; background-size: cover;">
    <div style="width:30%; float:left;"><h4 class="serif subheader" style="padding-right:2em; padding-top:1em;">Self-printable A3 or A4 sized maps with content to supplement digital subscription to place in rooms, reservation counters, etc.</h3></div>
    <div style="width:70%; float:right; height:100%; background-image:url(<%= asset_path('digital.png') %>); background-size: cover; background-position: 0 50%;"></div>
  </div>
    
</div>
</div>
