<ul class="side-nav">
  <li><%= link_to "Users", admin_path %></li>
  <li><%= link_to "Stories", admin_itineraries_path %></li>
  <li><%= link_to "Plans", admin_plans_path %></li>
  <!-- <li><a href="#">Link 3</a></li> -->
  <!-- <li><a href="#">Link 4</a></li> -->
</ul>
