<footer>
  <div class="row">
    <div class="large-3 small-12 columns">
      <h6>About</h6>
      <ul class="side-nav">
        <li><a href="/about">About ZUJI</a></li>
        <li><a href="/about/advertise/ ">Advertise</a></li>
        <li><a href="/about/press-releases/ ">Press Releases</a></li>
        <li><a href="/about/affiliates/">Affiliates</a></li>
        <li><a href="/about/contact-information/ ">Contact Information</a></li>
        <li><a href="/about/how-to-book/ ">How to Book</a></li>
        <li><a href="/about/privacy-security/ ">Privacy / Security</a></li>
        <li><a href="/about/sitemap/">Sitemap</a></li>
        <li><a href="/about/terms-and-conditions/">Terms and Conditions</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>Top Airlines</h6>
      <ul class="side-nav">
        <li><a href="/airlines/qantas-airways/">Qantas</a></li>
        <li><a href="/airlines/virgin-australia">Virgin Australia</a></li>
        <li><a href="/airlines/emirates/ ">Emirates</a></li>
        <li><a href="/airlines/singapore-airlines">Singapore Airlines</a></li>
        <li><a href="/airlines/air-new-zealand">Air New Zealand</a></li>
        <li><a href="/airlines">More Airlines</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>Products</h6>
      <ul class="side-nav">
        <li><a href="/cheap-flights">Cheap Flights</a></li>
        <li><a href="http://holidays.zuji.com.au">Cheap Holidays</a></li>
        <li><a href="http://hotels.zuji.com.au">Cheap Hotels</a></li>
        <li><a href="http://cars.zuji.com.au">Cheap Car Hire</a></li>
        <li><a href="/insurance">Cheap Travel Insurance</a></li>
        <li><a href="https://flights.zuji.com.au/au/FlightSearch/Voucher/SelectVoucher/">Vouchers</a></li>
        <li><a href="/specials">Specials and Deals</a></li>
        <li><a href="/travel">Travel Guide</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>International Sites</h6>
      <ul class="side-nav">
        <li><a href="http://www.zuji.com.au/">ZUJI Australia</a></li>
        <li><a href="http://www.zuji.com.hk" target="&quot;_blank&quot;">ZUJI Hong Kong</a></li>
        <li><a href="http://www.zuji.com.sg" target="&quot;_blank&quot;">ZUJI Singapore</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>Customer Support</h6>
      <ul class="side-nav">
            <li><a href="/about/contact-information">Contact Us</a></li>
            <li><a href="/about/how-to-book">How to Book</a></li>
      </ul>
    </div>

  </div>
</footer>