<footer>
  <div class="row">
    <div class="large-3 small-12 columns">
      <h6>About</h6>
      <ul class="side-nav sans">
        <li><a target="blank" href="//www.zuji.com.au/about">About ZUJI</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/advertise/ ">Advertise</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/press-releases/ ">Press Releases</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/affiliates/">Affiliates</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/contact-information/ ">Contact Information</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/how-to-book/ ">How to Book</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/privacy-security/ ">Privacy / Security</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/sitemap/">Sitemap</a></li>
        <li><a target="blank" href="//www.zuji.com.au/about/terms-and-conditions/">Terms and Conditions</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>Top Airlines</h6>
      <ul class="side-nav sans">
        <li><a target="blank" href="//www.zuji.com.au/airlines/qantas-airways/">Qantas</a></li>
        <li><a target="blank" href="//www.zuji.com.au/airlines/virgin-australia">Virgin Australia</a></li>
        <li><a target="blank" href="//www.zuji.com.au/airlines/emirates/ ">Emirates</a></li>
        <li><a target="blank" href="//www.zuji.com.au/airlines/singapore-airlines">Singapore Airlines</a></li>
        <li><a target="blank" href="//www.zuji.com.au/airlines/air-new-zealand">Air New Zealand</a></li>
        <li><a target="blank" href="//www.zuji.com.au/airlines">More Airlines</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>Products</h6>
      <ul class="side-nav sans">
        <li><a target="blank" href="//www.zuji.com.au/cheap-flights">Cheap Flights</a></li>
        <li><a target="blank" href="http://holidays.zuji.com.au">Cheap Holidays</a></li>
        <li><a target="blank" href="http://hotels.zuji.com.au">Cheap Hotels</a></li>
        <li><a target="blank" href="http://cars.zuji.com.au">Cheap Car Hire</a></li>
        <li><a target="blank" href="//www.zuji.com.au/insurance">Cheap Travel Insurance</a></li>
        <li><a target="blank" href="https://flights.zuji.com.au/au/FlightSearch/Voucher/SelectVoucher/">Vouchers</a></li>
        <li><a target="blank" href="//www.zuji.com.au/specials">Specials and Deals</a></li>
        <li><a target="blank" href="//www.zuji.com.au/travel">Travel Guide</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>International Sites</h6>
      <ul class="side-nav sans">
        <li><a target="blank" href="http://www.zuji.com.au/">ZUJI Australia</a></li>
        <li><a target="blank" href="http://www.zuji.com.hk" target="_blank">ZUJI Hong Kong</a></li>
        <li><a target="blank" href="http://www.zuji.com.sg" target="_blank">ZUJI Singapore</a></li>
      </ul>
    </div>
    <div class="large-3 small-12 columns">
      <h6>Customer Support</h6>
      <ul class="side-nav sans">
        <li><a target="blank" href="http://support.outtrippin.com">Contact Us</a></li>
        <li><a target="blank" href="http://zuji.com.au/about/how-to-book">How to Book</a></li>
      </ul>
    </div>
  </div>
</footer>
