<nav>
  <section id="navbar-logo">
    <%= link_to ((image_tag 'o-white.png', style: "height:30px;")), root_url %>
  </section>

  <ul id="navbar-links">
    <li><%= link_to "Login", "#", class: "button" %></li>
  </ul>
</nav>
<%#= render 'layouts/parts/topbar/right_menu' %>