<nav>
  <section id="navbar-logo">
    <%= link_to "", root_url %>
  </section>

  <ul id="navbar-links">
    <li><%= link_to "Browse Trips", "#", class: "button" %></li>
    <li><%= link_to "Login", "#", class: "button" %></li>
  </ul>
</nav>
<%#= render 'layouts/parts/topbar/right_menu' %>