<nav>
  <section id="navbar-logo">
    <%= link_to ((image_tag 'o-white.png', style: "height:30px;") + (image_tag 'outtrippin-white.png', class: "hide-for-small", style: "height:22px; padding-left: 5px; margin: 6px 3px 0 0;")), root_url %>
  </section>

  <ul id="navbar-links">
    <li><%= link_to "Login", "#", class: "button" %></li>
  </ul>
</nav>
<%#= render 'layouts/parts/topbar/right_menu' %>