<nav class="top-bar hide-on-print">
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <%= render 'layouts/parts/topbar/right_menu' %>
  </section>
</nav>


  <div class="top-logo">
    <a href="/" title="OutTrippin Home">
    <%= image_tag 'o-white.png', style: "height:30px;" %></a>
  </div>
  <div class="top-ot">
    <a href="/" title="OutTrippin Home"><%= image_tag 'outtrippin-white.png', style: "height:22px;" %></a>
  </div>

  <% if current_user && current_user.is?("admin") && ( @itinerary.nil? || ( !@itinerary.nil? && !@itinerary.new_record? ) ) %>
    <div id="guide">
      <strong><%= link_to "EDIT", edit_admin_itinerary_path(@itinerary), class: "sans"  %></strong>
    </div>
  <% end %>

