<nav class="top-bar">
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <%= render 'layouts/parts/topbar/right_menu' %>
  </section>
</nav>

  <div class="top-logo">
    <a href="/" title="Plan My Trip Home">
    <%= image_tag 'o-white.png', style: "height:35px;" %></a>
  </div>
