<nav class="top-bar">
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <%= render 'layouts/parts/topbar/right_menu' %>
  </section>
</nav>

<div class="top-logo">
   <% if @itinerary.nil? %>
    <a href="/" title="OutTrippin Home">
    <% else %>
    <a href="#" class="toggle-sidebar" title="Show Trip Overview">
    <% end %>
    <%= image_tag (defined?(@white_topbar).nil? ? 'o-white.png' : 'o-color.png'), style: "height:35px;" %></a>

</div>
