<nav class="top-bar">
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <%= render 'layouts/parts/topbar/right_menu' %>
  </section>
</nav>

<div class="top-logo">
   <% if @itinerary.nil? %>
    <a href="/" title="OutTrippin Home">
    <% else %>
    <a href="#" class="toggle-sidebar" title="Click here to show or hide the trip brief">
      <div id="guide">&#9656;</div>
    <% end %>
    <%= image_tag 'o-white.png', style: "height:35px;" %></a>
</div>