<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p><%= @message %></p>
  <p>Check it out here: <%= link_to itinerary_url(@itinerary), itinerary_url(@itinerary) %></p>
</body>
</html>