<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Just a quick note to let you know your story concept has been received loud and clear.</p>

  <p>You can check out your pitch here <%= link_to "here", itinerary_url(@itinerary) %>. To see a list of other stories you can pitch for go to: <a href="http://www.outtrippin.com/itineraries">http://www.outtrippin.com/itineraries</a></p>

  <p>Changing the way people travel, one story at a time.</p>

  <p>That's how we roll!</p>

  <p>Indi </p>

</body>
</html>