<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>You have received a new pitch on you itinerary <%= link_to itinerary_url(@itinerary) %></p>

  <p>Any questions, just drop us line.</p>
  <p>Happy Trippin!<br />OutTrippin</p>
</body>
</html>