<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Hi there, </p>
	<p> That's some bitchin' pitchin' right there! </p>
	<p>Your <%= link_to "story concept", itinerary_url(@itinerary) %> is winging it's way on the back of a digital carrier pigeon to the traveller right now.</p>
	<p>We give the traveller about a week or so to decide on their favourite pitch. Then we notify you when they make a decision and if they pick you, you write the full story.</p>
	<p>If you have a travel brainwave in the meantime you can come back and edit your pitch by clicking the pencil edit button. You can also pitch on other open stories from your <a href="http://www.outtrippin.com/itineraries">Storyteller Dashboard</a>.</p>
	<p>We're always trying to make things better, faster, smarter so if you've got a question, constructive criticism or just want to tell me a joke, don't hold back. </p>
	<p>
	We loves the feedback :)<br>

	Indi</p>

</body>
</html>