<% if @itinerary.extra_info.has_key?([:source]) %>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Happy days! You have just been pitched a story concept by one of our well-travelled storytellers. Check it out here: <%= link_to itinerary_url(@itinerary), itinerary_url(@itinerary) %></p>
  <p>If it's just what you were looking for, click the Pick Me! BUTTON, otherwise just hang out and wait for more concepts to roll in.</p>
  <p>Any questions, just drop us line.</p>
  <p>Happy Trippin!<br />Zuji</p>
</body>
</html>
<% else %>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Happy days! You have just been pitched a story concept by one of our well-travelled storytellers. Check it out here: <%= link_to itinerary_url(@itinerary), itinerary_url(@itinerary) %></p>
  <p>If it's just what you were looking for, click the Pick Me! BUTTON, otherwise just hang out and wait for more concepts to roll in.</p>
  <p>Any questions, just drop us line.</p>
  <p>Happy Trippin!<br />OutTrippin</p>
</body>
</html>
<% end %>
