<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Hi,</p>
  <p>A request to reset your password has been made. If you did not make this request, simply ignore this email. If you did make this request just click the link below:<p>

  <br />
  <%= link_to @reset_url, @reset_url %>
  <br />

  <p>If the above URL does not work try copying and pasting it into your browser.</p>
  <p>If you continue to have problem please feel free to contact us.</p>

  <p>Happy Trippin!<br />Zuji</p>
</body>
</html>