<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hello, Hola, Bonjour, Konichiwa, Nee How, Aloha!</p>
  <p>Thanks for submitting your Zuji Plan My Trip travel story and payment.</p>
  <p>So, what happens now?</p>
  <p><strong>First up, our internet fairies deliver your travel story request to our relevant storytellers.</p>
  <p><strong>Next, the storytellers pitch you a travel story concept – tailored especially for you.</strong><br />
  We keep your travel story file open for 1 week so you will receive story concepts from different storytellers. 
  (Our storytellers could be bathing with elephants or snorkeling on a reef. If you need it sooner, drop us a line and we will crack the whip.)</p>
  <p><strong>Then, you review your travel story concepts and choose your favorite storyteller.</strong></p>
  <p><strong>Now it's time to work with your chosen storyteller to design a day-by-day Trip Script full of tips, tricks and personal advice, ready to be acted out by you on your vacation.</strong><br />
  This process normally takes up to a week, depending on how quickly you respond with feedback.</p>
  <p>Peace, love and passport stamps,<br />The Zuji Team</p>
  <p><em>P.S. If you need help booking your trip at the end, we're here to help with that too.</em></p>
</body>
</html>
