<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hello, Hola, Bonjour, Konichiwa, Nee How, Aloha!</p>
  <p>Thanks for submitting your OutTrippin trip and payment.</p>
  <p>So, what happens next?</p>
  <p><strong>First up, our internet fairies will deliver your trip details to our <%= @itinerary.destination %> experts.</strong></p>
  <p><strong>Next, our experts submit their 'trip pitch' tailored especially for you.</strong><br />
  — This normally takes around 3-4 days, as our travel experts can be doing anything from bathing with elephants to snorkeling in the Caribbean. If you need it sooner, drop us a line and we will crack the whip.</p>
  <p><strong>Then, you will receive a mix of trip pitches and it's up to you to choose your favorite expert.</strong></p>
  <p><strong>Finally, you work with your chosen expert to build out the full trip plan.</strong><br />
  — This normally takes another 3-4 days, depending on how quickly you are to respond with feedback to your expert. Your plan includes daily trip notes, website links, photos plus, tips & tricks only another traveller could know.</p>
  <p>Peace, love and passport stamps,<br />The OutTrippin Team</p>
  <p><em>P.S. If you need a hand booking your trip at the end of the process, we're here to help with that too.</em></p>
</body>
</html>