<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hey <%= @user.personal_info[:name] %>,</p>
  <p>Your application to become an OutTrippin expert has been received.</p>
  <p>In the next few days, we'll review your special talents and favorite destinations and I'll be in touch shortly.</p>
  <!-- In the meantime you're welcome to check out our expert FAQs and example trip pitches.
  [INSERT LINKS] -->
  <p>Any questions, just drop me a line.</p>
  <p>Happy Trippin!<br />Indi</p>
</body>
</html>