<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Thanks for launching your trip request.</p>
  <p>We've generated a password for you, please change it to one you prefer most</p>
  <h3>Your password: <strong><%= @password %></strong></h3>

  <p>Any questions, just drop us line.</p>
  <p>Happy Trippin!<br />OutTrippin</p>
</body>
</html>