<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hi,</p>
  <p>Your application to become an OutTrippin storyteller has been received.</p>
  <p>In the next few days, I'll review your special talents and favorite destinations and then send you the OutTrippin Lowdown. (A document explaining who we are and how it all works.)</p>
  <!-- In the meantime you're welcome to check out some example travel stories.
  [INSERT LINKS] -->
  <p>Any questions, just drop me a line.</p>
  <p>Happy Trippin!<br />Indi</p>
</body>
</html>