<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hey good looking! Welcome to the OutTrippin storyteller ranks.</p>
  <p>If you're a curious cat and like to stay in the know, there are a couple of ways to stay in touch.</p>
  <p>We meet, greet and talk about secret business in our closed <a href="https://www.facebook.com/groups/167052713455682/">OutTrippin Glomad facebook group</a>(Click link to request an invite.)</p>
  
  <p>We share the blog love (and each other's best posts) in the <a href="http://triberr.com/pages/tribe-overview.php?tid=51887 
">OutTrippin Glomad Triberr group</a>, we are now up to our 3rd Triberr group!</p>
  <p>And just out of interest since I'm a curious cat too, where in the world are you hanging out today?</p>
<p>Indi.<br>
	P.S. Today I'm chasing rainbows in the north island of New Zealand.</p>
</body>
</html>