<% if @itinerary.user_source == "Zuji" %>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Thanks for launching your travel story request.</p>
  <p>We have shared it with our storytellers and they will begin pitching you their exciting travel concepts over the next few days.</p>
  <p>We've generated a temporary password for you and you'll need it to login and view your story.</p>
  <h3>Your password: <strong><%= @password %></strong></h3>


  <p>Any questions, just drop us line.</p>
  <p>Happy Trippin!<br />Zuji</p>
</body>
</html>


<% elsif @itinerary.user_source == "Hotel" %>

  <!DOCTYPE html>
  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><Strong>Hi there!</strong></p>
    <p>Thanks for signing up to OutTrippin Hotels!</p>
    <p>If you haven't already done so, click <%= link_to "here", @subscription_url %> to activate your subscription. You might need your temporary password to be able to do so: <strong><%= @password %></strong></p>
    <p><strong>OutTrippin is made for next generation hotels.</strong> Each month we share with you (and your guests) a monthly digital and printed City Guide that knows what's happening around your hotel, right now – and it's packed with the most relevant and exciting local experiences with all the tips, maps and directions you need, written up by a local travel expert.</p>

    <p>Once you've activated your subscription, one of our customer success representatives will be in touch so we can best personalize our City Guides to your guests. We can't wait to help you take your hotel's guest engagement to the next level. </p>

    <p>For any questions and queries, don't hesitate to drop us a line at contact@outtrippin.com.</p>

    <p>- Team OutTrippin</p>
    
  </body>
  </html>

<% else %>

  <!DOCTYPE html>
  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Thanks for launching your travel story request.</p>
    <p>We have shared it with our storytellers and they will begin pitching you their exciting travel concepts over the next few days.</p>
    <p>We've generated a temporary password for you and you'll need it to login and view your story.</p>
    <h3>Your password: <strong><%= @password %></strong></h3>


    <p>Any questions, just drop us line.</p>
    <p>Happy Trippin!<br />OutTrippin</p>
  </body>
  </html>

<% end %>