<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Thanks for launching your travel story request.</p>
  <p>We have shared it with our storytellers and they will begin pitching you their exciting travel concepts over the next few days.</p>
  <p>We've generated a temporary password for you and you'll need it to login and view your story.</p>
  <h3>Your password: <strong><%= @password %></strong></h3>
  

  <p>Any questions, just drop us line.</p>
  <p>Happy Trippin!<br />OutTrippin</p>
</body>
</html>