<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hi <% @expert %>,</p>
  <p>Drum roll please... your <%= @itinerary.destination %> pitch has been chosen as the winner!</p>
  <p>Your story is <%= @itinerary.duration %> days long days long and needs to be submitted at the latest by <%= (7.days.from_now).strftime("%A, %B %d") %>. If you need an extension, please let me know immediately.</p>
  <p>Click <%= link_to "here", itinerary_url(@itinerary) %> to see your pitch and click the "Start Writing" button to begin. </p>
  <p>Some additional tips:</p>
  <ul>
  	<li>Want to see a customer's story request? Click the fish icon on top left corner.</li>
  	<li>Need to ask the customer a question? Comments are at the bottom on the request tab.</li>
  	<li>Need more photos? Check out <a href="http://compfight.com/">compfight</a>. (<a href="http://bit.ly/1bwP8Am">Here are instructions</a> on how to save photos).</li>
  </ul>

  <p>When you're happy with the story, click "Submit Story" on the top right and I'll share it with the customer and pay you via Paypal.</p>

  <p>Any questions, just drop me a line – I am the A to your Q!</p>

  <p>Indi</p>

  <p>P.S. For story inspiration check out:<br>
  	<a href="http://www.outtrippin.com/itineraries/3088">Romance in the Land of the Rising Sun by Beth Williams</a> or <a href="http://www.outtrippin.com/itineraries/1797">Italian Immersion by Alena Hadley</a>
  </p>
</body>
</html>