<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Congratulations,</p>
  <p>You've got selected as the storyteller for <%= link_to itinerary_url(@itinerary), itinerary_url(@itinerary) %>.</p>
</body>
</html>