<div class="row top">
  <div class="large-10 large-centered columns">
    <%= form_for @pitch_new, url: itinerary_pitches_path(@itinerary), html: { class: 'custom' } do |f| %>
      <%= render 'form', f: f, pitch: @pitch_new, submit_text: "Submit!" %>
    <% end %>
  </div>
</div>

<% expanded_sidebar %>