<% unless object.nil? %>
  <% if object.errors.any? %>
  <div class="large-4 small-12 columns alerts">
    <div data-alert class="secondary text-center radius alert-box">
      <% object.errors.full_messages.each do |msg| %>
        <p class="no-margin no-padding"><%= msg %></p>
      <% end %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
  <% end %>
<% end %>
<% unless flash[:notice].blank? %>
<div class="large-4 small-12 columns alerts">
  <div data-alert class="secondary text-center radius alert-box">
    <p class="no-margin no-padding"><%= flash[:notice] %></p>
    <a href="#" class="close">&times;</a>
  </div>
</div>
<% end %>