<div class="row" style="margin-top:40px">
  <div class="large-10 large-centered columns">
    <h3 style="text-align:center">Privacy Policy</h3>

    <p style="text-align:center"><i>Last Updated: June 16, 2013</i></p>

    <p>OutTrippin PTY LTD("OutTrippin," "we" or "us"), a Victoria PTY LTD company, is committed to protecting your privacy. We created this Privacy Policy (the “Privacy Policy”) to give you confidence as you visit the www.outtrippin.com website (the "Site") and use the services available on/through or in connection with the Site (the “Services”) and to demonstrate our commitment to fair information practices and the protection of user privacy. Your use of the Site and the Services is governed by this Privacy Policy and to our Terms of Service, which are incorporated herein by reference. Unless otherwise defined herein, all capitalized terms in this Privacy Policy shall have the meanings indicated in the Terms of Service.</p>

    <p>PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY UTILIZING THE SITE OR ANY OF THE SERVICES AND/OR BY REGISTERING WITH US, YOU SIGNIFY THAT YOU AGREE TO THIS PRIVACY POLICY, INCLUDING TO OUR TERMS OF SERVICE.</p>

    <h4>1. The Privacy Policy</h4>
    <p>This Privacy Policy is only applicable to the Site and not to any other websites that you may be able to access from the Site (whether through an advertisement, Service or content link) or any website of any Travel Provider, each of which may have data collection, storage, and use practices and policies that differ materially from this Privacy Policy.</p>

    <p>We reserve the right, at any time, to add to, change, update, or modify this Privacy Policy so please review it frequently. If we do, then we will notify you here, as well as by posting a notice on our Site and/or by e-mailing you. In all cases, use of information we collect is subject to the Privacy Policy in effect at the time such information is collected.</p>

    <h4>2. Personal Information</h4>
    <p>While you may access certain portions of the Site without registering with us, to view the majority of content on our Site and utilize many of our Services you are required you to register with OutTrippin. As part of the registration process, you will create a username and password. The username and password that you provide are your credentials (“Credentials”) for accessing those Services that are only available to registered members. You are responsible for keeping your Credentials confidential and for notifying us if they have been hacked or stolen. You may notify us by sending an email to: <a href="mailto:contact@outtrippin.com">contact@outtrippin.com</a>.</p>

    <p>As part of the registration process and in connection with any Trips you book with a Travel Provider via the Site and your use of certain other Services, you will also be required to submit certain information personally identifying you, such as your username, first and last name, e-mail address, telephone number, date of birth and/or credit or debit card information, as applicable (collectively, “Personal Information”). You are responsible for ensuring the accuracy of the Personal Information you submit. Inaccurate information will affect the content you receive when using our Site, your ability to book Trips and to use other Services, and our ability to contact you as described in this Privacy Policy.</p>

    <p>We use the Personal Information that you provide to verify your registration, to better understand your needs and interests, to process your payments in connection with Trips you book via the Site, to provide you with other specific Services you select, and to communicate with you about Site maintenance and updates, as appropriate. You may choose not to provide us with any Personal Information. In such case, however, you will not be able to use those Services that are accessible only to registered members.</p>

    <h5>A. Inquiries</h5>
    <p>Subject to the Privacy Policy, if you submit any feedback to or request information from OutTrippin, we may use any of the information you submit in connection therewith, or any Personal Information and Non-Personal Information when responding to your inquiries.</p>

    <h5>B. Updating Personal Information</h5>
    <p>You may update and/or delete any or all of your Personal Information by logging into your account on the Site or by contacting us at <a href="mailto:contact@outtrippin.com">contact@outtrippin.com</a>. Please indicate your name, address and email address, and what information you would like to update when you contact us.</p>

    <h5>C. Children</h5>
    <p>We do not knowingly collect Personal Information from children under the age of 13.</p>

    <h5>D. California Residents</h5>
    <p>Under California law, users who are residents of California may contact us and request certain information about our disclosure of Personal Information to third parties for their direct marketing purposes during the prior calendar year. California residents may request such information by contacting us at the address listed at the end of this Privacy Policy.</p>

    <h5>E. Email Opt-Out</h5>
    <p>If you no longer wish to receive emails from OutTrippin, you may opt-out of receiving them by following the instructions included in the footer of each email.</p>

    <h4>3. Non-Personal Information</h4>
    <p>Even if you do not register with OutTrippin, we collect information other than Personal Information (“Non-Personal Information”) about your use of our Site and Services.</p>

    <h5>A. Cookies</h5>

    <p>We use “cookies” to customize your experience on the Site and to store your username and certain other information so that it does not have to be re-entered each time you visit the Site. Cookies are small computer files that are transferred to your computer’s hard drive that contain information such as your username, user preferences, the pages you’ve visited and the activities you’ve performed while using the Site. We do not link the information stored in cookies to any of your Personal Information you submit without your permission. You may block cookies or delete cookies from your hard drive; however, by disabling cookies, you may not have access to all of the features of the Site. Some of our business partners also use cookies to provide us with anonymous data and information regarding your use of the Site. We do not have access or control over these cookies, our Privacy Policy does not cover the use of third party cookies.</p>

    <h5>B. Web Beacons/Pixel Tags<h5>
        <p>We or our third party tracking utility company may also use “web beacons” or “pixel tags” to collect anonymous information about your use of our Site and the websites of selected Travel Providers and other third party service providers and advertisers, and your use of emails, special promotions or newsletters we or selected partners or advertisers may send to you. Web beacons and pixel tags are tiny graphic image files embedded in a web page or email that provide a presence on the web page or email and send back to its home server information from the user’s browser. The information collected by web beacons allows us to statistically monitor how many people are using our Site and selected partners’ and advertisers' websites and opening emails, and for what purposes. Our web beacons and pixel tags are not used to track your activity outside of our Site. We do not link Non-Personal Information from web beacons and pixel tags to Personal Information without your permission.</p>

        <h5>C. Traffic Data</h5>
        <p>
        We automatically track and collect the following categories of information when you visit our Site: (1) IP addresses; (2) domain servers; (3) types of computers accessing the Site; (4) types of web browsers used to access the Site; (5) referring Uniform Resource Locator (“URL”) which may have sent you to the Site; (6) URL of the Site you navigate to directly after leaving our Site; and (6) other information associated with the interaction of your browser and the Site (collectively “Traffic Data”). We do not link Non-Personal Information from Traffic Data to Personal Information without your permission.
        </p>
        <h4>
          4. Links to Other Websites
        </h4>
        <p>
        The Site may contain advertisements for and hyperlinks to the websites of Travel Providers who partner with OutTrippin and other third parties with which OutTrippin has no affiliation. OutTrippin does not share your Personal Information with those websites and is not responsible for their privacy practices. Some websites may have the look and feel of our Site. Please be aware that you may be on a different website and that this Privacy Policy only covers our Site. Should you decide to visit one of these third party websites, we suggest that you read its privacy policy.
        </p>

        <h4>
          5. Third Party Disclosure and Use of Your Information
        </h4>
        <p>
        Certain content and Services offered to you on or through our Site may be served on websites hosted and operated by a company other than OutTrippin (“Third Party Contractor Sites”). OutTrippin does not disclose your Personal Information to these Third Party Contractor Sites without your consent, but you should be aware that any information you disclose once you access these other Third Party Contractor Sites is not subject to this Privacy Policy. OutTrippin does not endorse and is not responsible for the privacy practices of these Third Party Contractor Sites. You should review the privacy policy posted on any other Site to understand how that Third Party Contractor Site collects and uses your personally identifiable information.
        </p>

        <p>
        We will not share, sell, rent, or trade Personal Information we collect from you with any other parties except as herein provided. We share certain Personal Information and Non-Personal Information with our business partners who assist us in performing services, such as Site hosting, data storage and security, payment processing, market research and analytics related to our operation of the Site and provision of certain Services. Those partners will be bound and abide by the Privacy Policy and will only use your Personal Information to carry out their specific business obligations to and to help us provide and continuously improve the Site and related Services. We may also share some or all of your Personal Information with Travel Providers from whom you book Trips and related travel services on or through the Site. Travel Providers may use your Personal Information to communicate with you directly, but are contractually bound to do so only in connection with your specific Trips and related travel services. However, under no circumstances whatsoever shall OutTrippin be liable for any use of your Personal Information by any Travel Provider.
        </p>

        <p>
        We may transfer information about you to another company in connection with a merger, sale or acquisition by or of OutTrippin. In this event, we will use reasonable efforts to notify you before information about you is transferred and becomes subject to a different privacy policy. We reserve the right to disclose your Personal Information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process served on our Site and/or to protect the rights, property or safety of a third party.
        </p>

        <h4>
          6. Security
        </h4>
        <p>
        The Personal Information we collect about you is stored on a secure, password-protected server and only authorized personnel have access to your information. We use industry-standard encryption technologies with respect to the receipt and transfer of Personal Information you submit to us on the Site, including using Secure Socket Layer (“SSL”) technology for certain sensitive information (such as credit/debit card information) and only authorized personnel have access to your information. Nevertheless, despite our best efforts, no transmission over the Internet and no data storage method can be guaranteed to be safe 100% of the time.
        </p>

        <h4>
          7. Transfer and Storage of Data
        </h4>
        <p>
        The Site is hosted on servers in the United States. Accordingly, if you are located outside of the United States, the Personal Information you provide to us will be transferred to the United States. By submitting your Personal Information, you consent to its transfer and storage in the United States and its use in accordance with the purposes for which it was originally collected.
        </p>
        <p>
        If you have any questions about our Privacy Policy, please contact us via:
        </p>

        <p>
        contact@outtrippin.com<br/>
        OutTrippin PTY LTD<br/>
        Floor 1/41 Stewart St<br/>
        Richmond VIC 3121<br/>
        </p>

        <p style="text-align:center"><i><small>Copyright © 2013. OutTrippin PTY LTD. All rights reserved.</small></i></p>
      </div>
    </div>
