<% set_page_title("Terms & Conditions - OutTrippin") %>
<div class="row" style="padding-top:80px">
  <div class="large-10 large-centered columns">
    <h3 style="text-align:center">Terms of Service</h3>

    <p style="text-align:center"><i>Last Updated: June 16, 2013</i></p>

    <p>The following terms and conditions constitute an agreement between you and OutTrippin LLC. (“OutTrippin,” “we” or “us”), a Victoria PTY LTD company and the operator of the www.outtrippin.com website (the “Site”).</p>
    <p>This agreement (the “Terms of Service”), together with our <%= link_to 'Privacy Policy', page_path('privacy_policy') %>, governs your access to the Site and use of all services available on/through or in connection with the Site (collectively, the “Services”).</p>
    <p>BY UTILIZING THE SITE OR ANY SERVICES AND/OR BY REGISTERING WITH US, YOU SIGNIFY THAT YOU AGREE TO THESE TERMS OF SERVICE, INCLUDING OUR <%= link_to 'PRIVACY POLICY', page_path('privacy_policy') %>, WHICH IS INCORPORATED HEREIN BY REFERENCE.</p>

    <h4>
      1. Changes to the Terms of Service
    </h4>
    <p>
    We may change the Terms of Service at any time, as we reasonably deem appropriate. Upon any change in the Terms of Service, we will post the amended agreement on the Site homepage with notice of the changes and/or send you an email notifying you of the nature of the modifications and providing a link to the amended agreement for your review. Your continued use of the Site or Services following any such posting or notification shall constitute your affirmative acknowledgement of the changes to the Terms of Service, and your agreement to abide and be bound by the Terms of Service, as amended. If at any time you choose not to accept the Terms of Service, including following any modifications hereto, then you agree not to access the Site or use any content or services available on/through the Site.
    </p>
    <h4>
      2. Our Site and Services
    </h4>
    <p>
    The Site is an online platform designed to facilitate the processing and booking of trips and certain travel related services (collectively, the “Trips”); however, we do not provide, nor do we own or operate any agency or other such enterprise which provides any trips, transportation, accommodation, tour guide or other travel related services directly to the public. On/through our Site and Services, you may be able to search for and browse through information concerning the Trips and to independently book Trips with third party providers of the associated travel services (collectively, the “Trip Providers” and each, a “Trip Provider”).  All Trips and the related travel services featured on the Site are offered directly by the corresponding Trip Providers and not by OutTrippin, such that OutTrippin shall not be a party to any contract between you and any Trip Provider and shall have no responsibility or liability of any kind whatsoever in connection with any agreement or arrangement that you may independently enter into with a Trip Provider, whether you do so directly or indirectly via the Site or Services.  You acknowledge and agree that all Trip details and other information relating to Trips and/or Travel Providers published on/through the Site or Services may include inaccuracies, mistranslations and/or typographical errors and that although every effort is made to ensure that Travel Providers provide you with services of a reasonable standard, the listing of any Trip or other travel related services on/through the Site or Services is not and should not be taken as a recommendation a representation of any kind by OutTrippin that any Travel Provider’s services will be suitable for any purposes; and OutTrippin has no control over and as a result, disclaims all liability in connection with the off-site services or conduct of Trip Providers. Prior to booking any Trip, we strongly advise you to review and to make sure that you consent to the associated Trip Providers’ terms and conditions of service.
    </p>

    <h5>
      A. The following terms and conditions shall apply to all Trips which you may elect to book on/through the Site or Services.
    </h5>
    <p>
    1. Immediately upon  booking a trip, you are required to and shall remit payment via valid credit or debit card, a non-refundable booking deposit in the amount equal to twenty percent (20%) of the total cost of the Trip as listed on the Site (the “Trip Fee”) plus a flat processing fee of ten dollars [($10)] (collectively, the “Deposit”). OutTrippin does not undertake to include within the total cost listed for each Trip, any charges for travel related services other than those explicitly included in the description of the Trip on the Site or for any additional processing fees or taxes which may imposed directly by the associated Travel Provider. We strongly recommend that you check and confirm directly with the Travel Provider the precise terms and conditions upon which all associated Travel Providers make their respective services available to you prior to booking any Trip.
    </p>


    <p>
    2. Payment in full for the balance of the Trip Fee, and where applicable, for any additional charges and taxes which may be imposed by the associated Travel Provider pursuant to its terms and conditions of trade, shall be due and payable to the Travel Provider on or before the Trip commencement date listed on our Site and shall be remitted to the Travel Provider in a manner directed by the Travel Provider.
    </p>

    <p>
    3. By providing your debit or credit card information, you authorize OutTrippin to immediately debit your account for all associated charges and agree to be responsible for payment in full of all related charges. Furthermore, you warrant and represent that all that all payment information you provide to OutTrippin is true, correct and complete. All Trips are subject to payment verification prior to booking.
    </p>


    <p>
    4. ALL DEPOSITS ARE COMPLETELY NON-REFUNDABLE
    </p>

    <p>
    5. Subsequent to booking a Trip on/through the Site, should you wish to amend any aspect of the Trip, you may only do so by contacting each associated Travel Provider directly and only upon and subject to the consent of the applicable Travel Providers pursuant to each Travel Provider’s terms and conditions of sale.  You are solely responsible for contacting the Travel Provider of any Trip that you book on/through the Site directly and for disclosing directly to the Travel Provider any physical and/or mental disabilities or conditions which may impair or otherwise impact your ability or that of any of your travel companions’ to participate in any aspect of the Trip, including but not limited to any special facility or equipment requirements.
    </p>

      B. We reserve the right at any time to change all or any part of the Services, including by eliminating or discontinuing any content or feature of the Services.  Any changes we make will be effective immediately upon notice, which we may provide by any means including, without limitation, posting on the Site or by electronic mail.  Your continued use of the Site or Services after such notice will be deemed acceptance of such changes.  You agree that we shall not be liable to you or to any third party for any elimination or discontinuation of any content or feature of the Site or Services.

    <h4>
      3. Account Registration and Personal Information
    </h4>

    <p>
    In order to utilize many of the Services available on/through the Site, you will have to register as a Member. As part of the registration process, you will create a username and password. The username and password that you provide are your credentials ("Credentials") for accessing those Services that are only available to Members. You are responsible for keeping your Credentials confidential and for notifying us if they have been hacked or stolen. You may notify us by sending an email to: [contact@OutTrippin.com]. In order to register and in connection with your use of certain Services, you will also be required to provide us with certain personal information about yourself. The OutTrippin <%= link_to 'Privacy Policy', page_path('privacy_policy') %> explains the information practices that apply to this and any other information we have about you, as well as any choices you can make about the ways this information is used. Please review it carefully.
    </p>

    <h4>
      4. User Responsibility
    </h4>

    <p>
    You are solely responsible for all use of the Site and the Services by you and/or any third party to whom you give your Credentials or for whom you book a Trip via the Site or Services, including for your off-site activities, communications and general conduct in connection with your Trips. You may use the Site and the Services for lawful purposes only. You may not use the Site or the Services in any manner that could damage, disable, overburden or impair our servers or networks, or interfere with any other users' use or enjoyment of the Site or the Services. You may not attempt to gain unauthorized access to any of the Services, member accounts, or computer systems or networks, through hacking, password mining or any other means. Without limiting anything else contained herein, you agree that you shall not (and you agree not to allow any third party to):
    </p>

    <ul class="circle">
      <li> copy, modify, adapt, translate, or reverse engineer any portion of the Site or Services;</li>
      <li> remove any notices of copyright, trademark or other proprietary rights contained in/on or accessible through the Site or Services or in any content or other material obtained via the Site or Services;</li>
      <li> use any robot, spider, website search/retrieval application, or other automated device, process or means to access, retrieve or index any portion of the Site or Services;</li>
      <li> reformat or frame any portion of the web pages that are part of the Site or Services;</li>
      <li> use the Services for commercial purposes whatsoever;</li>
      <li> violate any applicable laws or regulations or infringe upon any intellectual property, privacy, publicity or contractual or any other rights of any person in connection with the Site or Services;</li>
      <li> create user accounts or book Trips by automated means or under false or fraudulent pretenses;</li>
      <li> attempt to defeat any security or verification measure relating to the Site or Services;</li>
      <li> provide or use tracking or monitoring functionality in connection with the Site or Services, including, without limitation, to identify other users’ actions or activities;</li>
      <li> impersonate or attempt to impersonate OutTrippin or any Travel Provider, or any employee, contractor or associate of OutTrippin or of any Travel Provider, or any other person or entity; or</li>
      <li> collect or store personal data about other users in connection with the prohibited activities described in this paragraph.</li>
    </ul>
    <p>
    We may take any legal action and implement any technical remedies we deem appropriate to prevent the violation of this provision and to enforce the Terms of Service.
    </p>

    <h4>
      5.  User Content
    </h4>
    <p>
    As part of the Services, you may have the opportunity to submit, upload, post, digitally publish, publicly display and/or otherwise transmit ratings, comments and/or other text, images, photos, graphics, videos and/or other content on/through the Site and Services (hereinafter, “User Content”).  We reserve the right, but not the obligation to monitor the Site and Services and to remove any User Content, as we deem appropriate in our sole discretion. OutTrippin shall not be responsible for any failure or delay in removing any User Content. Likewise, by accepting or allowing you to provide any User Content, OutTrippin is not obligated to make the User Content available to the public, and we reserve the right not to do so for any reason, in our sole discretion.
    </p>
    <p>
    By submitting User Content, you represent and warrant that you have the right to and hereby do grant OutTrippin, its partners, contractors, and all other users of our Site and Services an irrevocable, perpetual, royalty-free, fully paid up, sub-licensable, worldwide license to use, exploit, copy, publicly display, digitally publish and otherwise distribute your User Content and to adapt, edit, translate, prepare derivative works of, or incorporate into other works, your User Content. This license is non-exclusive. OutTrippin does not endorse the opinions, recommendations or advice expressed in any User Content.
    </p>
    In addition:
    <ul class="circle">
      <li> You are solely responsible for your User Content, including for the legality, reliability, appropriateness, originality and copyright thereof;</li>
      <li> You may not post, publish, distribute or reproduce in any way any material subject to copyright, trademark or other third party proprietary rights of any kind without first obtaining all necessary consents, licenses and permissions in writing from the owners thereof;</li>
      <li> You may not submit any User Content that infringes, misappropriates or violates the publicity, privacy or any other rights of a third party;</li>
      <li> You may not provide any User Content that falsely expresses or implies that such material is sponsored or endorsed in any way by OutTrippin or any Travel Provider;</li>
      <li> You may not provide any User Content that is unlawful or that promotes or encourages illegal activity or, as determined in the sole discretion of OutTrippin, which is false or intentionally misleading; threatening, obscene, defamatory, patently offensive or which promotes or otherwise incites racism, bigotry, hatred or physical harm of any kind against any group or individual;</li>
      <li> You may not submit any User Content that involves the transmission of unsolicited mass mailing or "spamming" or which solicits or is designed to solicit personal information from anyone under the age of 18 or to exploit the image or the likeness of any individual under the age of 18;</li>
      <li> You understand and agree that OutTrippin may but in not obligated to review and delete any User Content that in the sole judgment of OutTrippin violates the Terms of Service or which we otherwise deem offensive, illegal or that might violate the rights of, harm, or threaten the safety of other users; and</li>
      <li> OutTrippin reserves the right to investigate and take appropriate legal action in its sole discretion against anyone who violates this provision, including without limitation, removing the offending User Content from the Site, terminating the membership of and blocking use of the Services and/or the Site by such violators, and reporting such activities to law enforcement authorities.</li>
    </ul>


    <h4>
      6. Our Copyright Dispute Policy.
    </h4>
    <p>
    OutTrippin respects the intellectual property of others and requires that our users do the same. It is our policy to terminate the membership of repeat infringers.  If you believe that material or content residing on or accessible through the Site or the Services infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Copyright Agent listed below:
    </p>
    <ul class="circle">
      <li> identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works;</li>
      <li> identification of the claimed infringing material and information reasonably sufficient to permit us to locate the material on the OutTrippin Site (providing the URL(s) of the claimed infringing material satisfies this requirement);</li>
      <li> information reasonably sufficient to permit us to contact you, such as an address, telephone number, and an email address;</li>
      <li> a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
      <li> a statement by you, made under penalty of perjury, that the above information in your notification is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf; and</li>
      <li> your physical or electronic signature.</li>
    </ul>

    <p>
    Our Designated Copyright Agent for notification of claimed infringement can be reached by email at <a href='mailto:contact@outtrippin.com'>contact@outtrippin.com</a> or at the following postal address:
    </p>
    <p>
    Attn: Designated Copyright Agent
    Floor 1/41 Stewart St
    Richmond VIC 3121
    Australia
    </p>

    <h4>
      7. Links to Other Websites
    </h4>
    <p>
    The Site may contain advertisements and/or links to other websites, including to those of certain Travel Providers (“Third Party Sites”).  These links are provided solely for the convenience of our users.  OutTrippin does not endorse, sanction or verify the accuracy or ownership of the information contained in/on any Third Party Site or any products or services advertised on Third Party Sites.  If you decide to leave the Site and navigate to Third Party Sites, or install any software or download content from any such Third Party Sites, you do so at your own risk. Once you access a Third Party Site through a link on our Site, you may no longer be protected by these Terms of Service and you may be subject to the terms and conditions of such Third Party Site. You should review the applicable policies, including privacy and data gathering practices, of any Third Party Site to which you navigate from the Site, or relating to any software you use or install from a Third Party Site. Concerns regarding a Third Party Site should be directed to the Third Party Site itself. OutTrippin bears no responsibility for any action associated with any Third Party Site.  Moreover, OutTrippin does not imply an affiliation with any Travel Provider or other Third Party’s Site.
    </p>

    <h4>
      8. Proprietary Rights
    </h4>
    <p>
    Except for your User Content, all of the content available on or through the Site, including without limitation, text, photographs, graphics, logos, trade/service marks, and/or audiovisual content, is owned and/or controlled by OutTrippin, individual Travel Providers or other licensors or Site users and is protected, as applicable, by copyright, trademark, trade dress, patent, and trade secret laws, other proprietary rights, and international treaties. You acknowledge that the Services and any underlying technology or software used in connection with the Services contain our proprietary information. Subject to and conditioned upon your compliance with these Terms of Service, we grant to you a non-exclusive, non-transferable, non-sublicensable, limited license to access and use the aforementioned content for personal, non-commercial purposes only, and we do not transfer any intellectual property or other rights to you by virtue of permitting your use of the Site or Services. You may print, download, and store information from the Site for your own convenience, but you may not copy, distribute, republish, (except as permitted in this paragraph), sell, or exploit any of the content, or exploit the Site or Services, in whole or in part, for any commercial gain or purpose whatsoever except as expressly provided herein. Except as is expressly provided herein, we do not grant you any express or implied rights, and all rights in the Site and Services not expressly granted by us to you are retained by us.
    </p>

    <h4>
      9. Disclaimer of Warranties
    </h4>
    <p>
    IF YOU ACCESS OUR SITE OR USE ANY OF OUR SERVICES, INCLUDING IF YOU BOOK ANY TRIP, YOU DO SO AT YOUR OWN RISK. WE PROVIDE THE SITE AND THE SERVICES “AS IS”, “WITH ALL FAULTS” AND “AS AVAILABLE.” WE MAKE NO EXPRESS OR IMPLIED WARRANTIES OR GUARANTEES ABOUT THE SITE OR SERVICES OR ANY TRIP. TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE HEREBY DISCLAIM ALL SUCH WARRANTIES, INCLUDING ALL STATUTORY WARRANTIES, WITH RESPECT TO THE SERVICES AND THE SITE, INCLUDING WITHOUT LIMITATION ANY WARRANTIES THAT THE SERVICES ARE MERCHANTABLE, OF SATISFACTORY QUALITY, ACCURATE, FIT FOR A PARTICULAR PURPOSE OR NEED, OR NON-INFRINGING. WE DO NOT GUARANTEE THAT THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SITE OR SERVICES WILL BE EFFECTIVE, RELIABLE OR ACCURATE OR WILL MEET YOUR REQUIREMENTS. ALL BOOKINGS FOR TRIPS MADE ON/THROUGH THE SITE ARE MADE WITH INDIVIDUAL THE TRAVEL PROVIDERS CONCERNED AND NOT WITH OutTrippin. OutTrippin IS NOT A PARTY TO ANY CONTRACT BETWEEN ANY USER AND ANY TRAVEL PROVIDER AND SHALL HAVE NO RESPONSIBILITY OR LIABILITY IN RESPECT OF ANY SUCH CONTRACT, WHETHER DIRECTLY OR INDIRECTLY.WE DO NOT GUARANTEE THAT YOU WILL BE ABLE TO ACCESS OR USE THE SITE OR SERVICES (EITHER DIRECTLY OR THROUGH THIRD-PARTY NETWORKS) AT TIMES OR LOCATIONS OF YOUR CHOOSING. WE ARE NOT RESPONSIBLE FOR THE ACCURACY, RELIABILITY, TIMELINESS OR COMPLETENESS OF INFORMATION PROVIDED BY TRAVEL PROVIDERS OR ANY OTHER USERS OF THE SITE OR ANY OTHER DATA OR INFORMATION PROVIDED OR RECEIVED THROUGH THE SITE OR SERVICES. EXCEPT AS EXPRESSLY SET FORTH HEREIN, OutTrippin MAKES NO WARRANTIES ABOUT THE INFORMATION SYSTEMS, SOFTWARE AND FUNCTIONS MADE ACCESSIBLE BY OR THROUGH THE SITE OR ANY SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION. OutTrippin DOES NOT WARRANT THAT THE SITE OR THE SERVICES WILL OPERATE ERROR-FREE, THAT LOSS OF DATA WILL NOT OCCUR, OR THAT THE SERVICES, SOFTWARE OR SITE ARE FREE OF COMPUTER VIRUSES, CONTAMINANTS OR OTHER HARMFUL ITEMS. UNDER NO CIRCUMSTANCES WILL OutTrippin, ANY OF OUR AFFILIATES, DISTRIBUTORS, PARTNERS, LICENSORS, AND/OR ANY OF OUR OR THEIR DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS, AGENTS, OR OTHER REPRESENTATIVES BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON INFORMATION OBTAINED THROUGH THE SITE OR SERVICES.
    </p>

    <h4>
      10. Limitations on Liability
    </h4>
    <p>
    YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH US IS THE CANCELLATION OF YOUR REGISTRATION. IN NO EVENT SHALL OUR TOTAL CUMULATIVE LIABILITY TO YOU FOR ANY AND ALL CLAIMS RELATING TO OR ARISING OUT OF YOUR USE OF THE SERVICES OR THE SITE, REGARDLESS OF THE FORM OF ACTION, EXCEED THE GREATER OF: (A) THE TOTAL AMOUNT OF FEES, IF ANY, THAT YOU PAID TO UTILIZE THE SITE OR THE SERVICES OR (B) ONE HUNDRED DOLLARS ($100). IN NO EVENT SHALL WE BE LIABLE TO YOU (OR TO ANY THIRD PARTY CLAIMING UNDER OR THROUGH YOU) FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES OR ANY BODILY INJURY, EMOTIONAL DISTRESS, DEATH OR ANY OTHER DAMAGES ARISING FROM YOUR USE OF OR INABILITY TO USE THE SITE OR SERVICES, IN CONNECTION WITH ANY TRIP OR ANY TRANSACTION, COMMUNICATION OR OTHER INTERACTION BY OR BETWEEN YOU AND ANY TRAVEL PROVIDER, WHETHER ON-LINE OR OFF-LINE, OR OTHERWISE IN CONNECTION WITH OUR SITE OR SERVICES. THESE EXCLUSIONS APPLY TO ANY CLAIMS FOR LOST PROFITS, LOST DATA, LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, ANY OTHER COMMERCIAL DAMAGES OR LOSSES, OR ANY PERSONAL INJURY OR PROPERTY DAMAGES, EVEN IF WE KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, OUR LIABILITY SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE YOUR RIGHTS WITH RESPECT TO CALIFORNIA CIVIL CODE SECTION 1542, WHICH SAYS "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH, IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR.”
    </p>

    <h4>
      11. Indemnity
    </h4>
    <p>
    You shall defend, indemnify and hold harmless OutTrippin (and each of our officers, directors, members, employees, agents and affiliates) from any claim, demand, action, damage, loss, cost or expense, including without limitation reasonable attorneys’ fees, arising out or relating to your use of our Site or Services or alleging facts or circumstances that could constitute a breach of any provision of these Terms of Service by you or anyone to whom you give your Credentials.
    </p>

    <h4>
      12. Termination
    </h4>
    <p>
    We may, in our sole discretion, immediately terminate your access to and block your use of the Site or Services or any portions thereof, at any time, without prior notice and for any reason, including if we believe that you have violated or acted inconsistently with the letter or spirit of these Terms of Service.  Upon termination of these Terms of Service, your right to access and/or use the Site or Services will immediately cease, and we may immediately deactivate or delete your Credentials, and all related information and files associated with your account. You agree that we shall not be liable to you or any third party for any termination of your access to the Site or Services.  Except for the license to access and use the Site and Services granted to you by OutTrippin herein, the rights and obligations of the parties as set forth in these Terms of Service shall survive termination.
    </p>

    <h4>
      13. Choice of Law and Dispute Resolution
    </h4>
    <p>
    The Terms of Service shall be deemed to have been entered into and shall be construed and enforced in accordance with the laws of the State of Victoria as applied to contracts made and performed entirely within Victoria, without giving effect to any conflicts of law statutes. Any controversy, dispute or claim arising out of or related to the Terms of Service, the Site or the Services shall be settled by final and binding arbitration to be conducted by an arbitration tribunal in the State of Victoria and the County of Victoria. Any and all disputes that you may have with OutTrippin shall be resolved individually, without resort to any form of class action.
    </p>

    <h4>
      14. Eligibility
    </h4>
    <p>
    You must be 18 years of age or older, or the legal age to form a binding contract in your jurisdiction if that age is greater than 18 years of age, to register with us or use the Site and the Services. If you do not qualify under these terms, do not use the Site or Services. Use of the Services is void where prohibited by applicable law, and the right to access the Site is revoked in such jurisdictions. By using the Site and/or the Services, you represent and warrant that you have the right, authority, and capacity to enter into the Terms of Service and to abide by all of the terms and conditions set forth herein. The Site is administered in the United States; any use outside of the United States is at the user's own risk and users are responsible for compliance with any and all applicable federal, state, local and international laws applicable to their use of the Services or the Site.
    </p>

    <h4>
      15. Assignment
    </h4>
    <p>
    We may assign this contract at any time to any parent, subsidiary, or any affiliated company, or as part of the sale to, merger with, or other transfer of our company to another entity. You may not assign, transfer or sublicense the Terms of Service to anyone else and any attempt to do so shall be null and void.
    </p>

    <h4>
      16. Miscellaneous
    </h4>
    <p>
    These Terms of Service and any supplemental terms, policies, rules and guidelines posted on the Site, including the <%= link_to 'Privacy Policy', page_path('privacy_policy') %> constitute the entire agreement between you and us and supersede all previous written or oral agreements. If any part of the Terms of Service is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect. The failure of OutTrippin to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
    </p>

    <p>Please Contact Us with any questions regarding these Terms of Services at: <a href='mailto:contact@outtrippin.com'>contact@outtrippin.com</a>.</p>
  </div>
