<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h4><%= @user.email %> from <%= @user.expert_info[:website] %> <h4>
</body>
</html>