<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>A stroy is ready for admin appreciation.</p>
    <%= link_to itinerary_plan_url(@itinerary) %>
</body>
</html>