<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>A story is ready for admin approval: <%= link_to itinerary_plan_url(@itinerary), itinerary_plan_url(@itinerary) %></p>
</body>
</html>