<h2>Woo hoo! Your dream trip is one step closer.</h2>
<h3>So, what happens next?</h3>

<h4>Today</h4>
<p>You'll receive an OutTrippin confirmation email outlining your trip details. We are matching you with the relevant travel experts and they have 3 days to apply to design your honeymoon.</p>

<h4>Applications will remain open for 3 days</h4>
<p>Once applications are closed, you'll have three days to pick your favorite expert.</p>

<h4>And then?</h4>
<p>Once you've chosen your favorite expert, you can proceed to checkout and pay the trip planning fee ($10 per vacation day) for the expert. Once you've done so, you can freely work with them to design your dream honeymoon, tailored to your persnality. :)</p>

<h4>Get the best experts!</h4>
<p>Attract the best experts by providing a guaranteed payment</p>