<% if @itinerary.has_winner_pitch? %>
<h3>You have picked your winning expert! He will start to work on your itinerary soon! Stay tuned!</h3>
  <%= render @itinerary.winner_pitch %>
<% elsif !@pitches.blank? %>
  <%= render @pitches %>
<% else %>

<div class="row">
  <div class="small-12 small-centered columns">
    <h3 class="text-center primary">Woo hoo! Your dream trip is one step closer.</h3>
    <div class="large-4 large-centered small-12 columns">
      <hr>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <h5 class="text-center">So, what happens next?</h5>
  </div>
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>Today:</h5>
      <p>You'll receive an OutTrippin confirmation email outlining your trip details. We are matching you with the relevant travel experts and they have 3 days to apply to design your honeymoon.</p>
    </div>
  </div>
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>Applications will remain open for 3 days:</h5>
      <p>Once applications are closed, you'll have three days to pick your favorite expert.</p>
    </div>
  </div>

  <% unless @itinerary.paid %>
  <div class="large-8 large-centered small-12 columns">
    <div data-alert class="alert-box secondary radius text-center">
      <h5>And then?</h5>
      <p>Once you've chosen your favorite expert, you can proceed to checkout and pay the trip planning fee ($10 per vacation day) for the expert. Once you've done so, you can freely work with them to design your dream honeymoon, tailored to your persnality. :)
      </div>
    </div>
    <div class="large-8 large-centered small-12 columns">
      <div data-alert class="alert-box secondary radius text-center">
        <h5>Get the best experts!</h4>
          <p>A guaranteed fee attracts more experts to your trip. And remember, OutTrippin offers a 100% money back guarantee if you're not happy with the advice you've received.</p>
          <%= link_to "Guarantee Fee", checkout_itinerary_path, class: "radius button" %>
        </div>
      </div>
    <% end %>
    </div>
<% end %>