$button-font-family: $sans-font-family;
$button-border-width: 0;
$button-font-med: 0.95em;
$button-med: 0.9em;


@import "foundation/components/buttons";

.button {
  @include button;
  box-shadow: none !important;
  border-radius: 4px !important;
  margin: 0;
  &:hover {
    background-color: lighten($primary-color, 5%) !important;
  }
}

.secondary-button {
  @include button;
  font-family: $serif-font-family;
  color: #4c4c4c;
  font-style: italic;
  box-shadow: none !important;
  background-color: #f3f3f3;
  border: 2px solid #cccccc;
  border-radius: 20px !important;
  &:hover {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: #fff;
  }
}

// NOT WELL PROGRAMMED: COUPLED TO THE BROWSE BUTTON
.large {
  height: 70px !important;
  line-height: 66px !important;
  margin: 0;
  padding: 0 40px;
  border-radius: 40px !important;
  font-size: 1.5em;
}