footer {
  padding: 30px 0;
  background-color: #282828;
  .side-nav li {
    margin: 0px !important;
    font-size:.8em;
  }

  .side-nav li a{
    color:#e6e6e6;
  }
}

footer img {
  margin-bottom:20px;
}

footer h6 {
  color: #7a7a7a;
  font-weight:normal;
}

