footer {
  background:#f3f3f3;
  text-align: center;
  margin-top:60px;
  font-family: "calluna-sans", helvetica, sans-serif;
}

footer img {
  margin-bottom:20px;
}

footer h6 {
  color: #7a7a7a;
  font-weight:normal;
}

.inline-list.footer > li {
  float:none;
  display: inline-block;
  margin-right:.825em;
  a {color: #7a7a7a;}
}

.inline-list.footer {
  font-size:0.750em;
  color: #7a7a7a;
  }
