// COLORS
.primary { color: $primary-color; }
.white { color: #fff !important; }

// TYPE
.sans { font-family: $sans-font-family; }
.serif { font-family: $serif-font-family; }

.hide { display: none !important; }
.top { margin-top: 30px; }
.error { border-radius: 4px; opacity: 0.8; }
.medium-textarea { height: 200px !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.rounded { border-radius:1000px; }