// COLORS
.primary { color: $primary-color; }
.white { color: #fff !important; }

// TYPE
.sans { font-family: $sans-font-family; }
.serif { font-family: $serif-font-family; }

.hide { display: none !important; }
.top { margin-top: 30px; }
.error { border-radius: 4px; opacity: 0.8; }
.medium-textarea { height: 200px !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.rounded { border-radius:1000px; }

.ot-alert {
  @include alert-base;
  margin-top: -30px;
  border-style: none;

  @include alert-style(#ff6c3c);

  @include radius(4px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .close {
    @include alert-close;
    color: whitesmoke;
  }

  p {
    font-family: $serif-font-family;
    color: white;
  }
}
=======
// LAYOUTS
.top-bar {padding-left:4%; padding-right:4%;}