.hide { display: none !important; }
.white { color: #fff !important; }
.ot-color { color: #0cc !important; }
.top { margin-top: 30px; }
.error { border-radius: 4px; opacity: 0.8; }
.medium-textarea { height: 200px !important; }
.sans { font-family: $sans-font-family; }