// TODO: add variables to this; proportions should relate to each other
//

// sidebar column
#sidebar {
  padding: 70px 30px 30px 30px;
  height: 100%;
  top:0;
  width: 25%;
  margin-left: -25%;
  min-width:300px;
  z-index:997;
  background-color: #f0f0f0;
  position: fixed;
  transition: margin .5s ease-in;
  z-index: 999;
  p { font-size:.8em; margin-bottom:.5em; }
}

#sidebar.show {
  transition: margin .5s ease-in;
  margin-left: 0;
}

//
// shrink container acoordingly
.container {
  margin-left: 0;
  transition: margin .5s ease-in;
}

.container.shrink {
  margin-left: 25%;
  transition: margin .5s ease-in;
}

.pitches {
  display:none;
}

.pitches.showall {
  display:block;
}

.hidePitch, .showPitch {
  color: rgba(255,255,255,0.70);
  font-weight: bold;
}

.hidePitch:hover, .showPitch:hover {
  color: #fff;
}

.active {
  color:#fff;
  border-bottom: 1px #fff solid;
   -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
