// TODO: add variables to this; proportions should relate to each other
//

// sidebar column
#sidebar {
  padding: 70px 30px 30px 30px;
  height: 100%;
  top:0;
  width: 25%;
  margin-left: -25%;
  min-width:300px;
  z-index:997;
  background-color: #e9e9e9;
  position: fixed;
  transition: margin .5s ease-in;
  z-index: 999;
  overflow:auto;
  p { font-size:.750em; margin-bottom:.5em; }
  @media only screen and (max-width: 1200px) {
    margin-left: -300px;
  }
  #home {color:#a2a2a2; position: absolute; left:70px; top:28px; font-size: 0.750em; letter-spacing: 0.15em;
  a {color:#a2a2a2;}
  }
}

#sidebar::-webkit-scrollbar {
display: none;
}


#sidebar.show {
  transition: margin .5s ease-in;
  margin-left: 0;
}

.top-logo-sidebar {
  position:absolute;
  top:10px;
  left:10px;
  height:45px;
  width:45px;
  padding: 7px 10px;
  border-radius: 4px;
  background-color: #00cccc;
  z-index: 1000 !important;
}
.close {
  top:0;
  padding-left:5px;
  position: absolute;
  right:0;
  height:100%;
  width: 30px;
  h5 {color:#b5b5b5; bottom:0; position:fixed;}
}

.close:hover {
  padding-left:0px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  h5{ color:#a2a2a2; }
}

//
// shrink container acoordingly
.container {
  margin-left: 0;
  transition: margin .5s ease-in;
}

.container.shrink {
  margin-left: 25%;
  transition: margin .5s ease-in;
}

.pitches {
  display:none;
}

.pitches.showall {
  display:block;
}

