#sidebar {
  padding: 10px;
  height: 90%;
  width: 25%;
  background-color: whitesmoke;
  position: absolute;
}


#toggle-sidebar {
  padding: 8px;
  position: absolute;
//  top: 200px;
  width: 48px;
  height: 48px;
  background-color: #aaa;
  border-radius: 0 10px 10px 0;
}