/*
 *= require_self
 */

@import "foundation/foundation_and_overrides";
@import "footer";
@import "helpers";

.top-bar { font-family: $sans-font-family; font-size: 20px !important; }  // this should go into foundation
.top-bar .name img { 
	margin: 20px 0 0 20px;
	width: 140px; 
}

div.container { margin-top: 30px; }

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

.sans {font-family: $sans-font-family;}
.serif {font-family: $serif-font-family;}

.primary {color:$primary-color;}