.expert-cover {
  padding-top: 30px;
  width: 100%;
  height: 400px;
  background-image: image-url('glomads.jpg');
  background-size: cover;
  text-align: center;

  .avatar-container {
    position: relative;
    margin: 0 auto;
    width: 180px;
    height: 180px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: inherit;
      height: inherit;
      border-radius: 90px;
      border: 4px solid #fff;
    }

    form {
      cursor: hand;
      position: absolute;
      top: 70%;
      left: 45px;
      margin: 0;
      padding: 0;
      width: 90px;
      height: 30px;
      z-index: 2;

      label {
        height: inherit;

        p, input[type="file"] {
          position: absolute;
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

.expert-cover p {
  margin: 0 auto;
  width: 50%;
}

a.social {
  line-height: 40px;
  font-family: "calluna-sans", helvetica, sans-serif;
  display: block;
  overflow: hidden;
  height: 40px;
  padding-left: 45px;
  color: #4a4a4a;
}

.www { background: image-url('website.png') no-repeat; }
.facebook { background: image-url('facebook.png') no-repeat; }
.twitter { background: image-url('twitter.png') no-repeat; }
.instagram { background: image-url('instagram.png') no-repeat; }

p.geo {
  font-weight: bold;
  margin: 0;
  height: 40px;
  line-height: 40px;
  padding-left: 45px;
}

.hometown { background: image-url('home.png') no-repeat; }
.location { background: image-url('location.png') no-repeat; }