@mixin inline() {
  width: auto !important;

  input[type="text"] {
    background: inherit !important;
    background-color: rgba(0,204,204,0.3) !important;
    width: 100% !important;
    height: inherit !important;
    padding: inherit !important;
    margin: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
    border: inherit !important;
    text-align: inherit !important;
    box-shadow: none !important;
  }

  span {
    position: relative;
  }

  &:hover {
    a { display: inline; }
  }

  a {
    float: right;
    position: absolute;
    right: -40px;
    display: none;
    width: 20px;
    height: 100%;
    background: transparent image-url("edit.png") no-repeat center center;
    background-size: 20px 20px;
  }

  a:hover { display: inline-block; }
}

.edit-name-inline { @include inline; }
.edit-bio-inline { @include inline; }
.edit-story-inline { @include inline; }
.edit-travel_hack-inline { @include inline; }
.edit-location-inline { @include inline; }
.edit-hometown-inline { @include inline; }