/*
 *= require_self
 */

@import "foundation/foundation_and_overrides";
@import "helpers";
@import "footer";
@import "sidebar";

div.container { margin-bottom: 30px; position: relative; }

.hold {
  display: none;
  text-align: center;
  z-index: 100;
  padding-top: 25%;
  width: 100%;
  height: 100%;
  background-color: rgba(10,10,10,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 500px rgba(0,0,0,0.9);
}

// STEPS
#itinerary-steps li { color: #4a4a4a; padding:0em !important; }

.step hr { border: 2px solid #e6e6e3; }
.step p { font-size:.9em; }
.step p.disable { color:#e6e6e3; }
.step-circle {
  padding-top: 3px;
  margin: 0 auto;
  background-color: #fdfdfd;
  color:#4a4a4a;
  border-radius: 20px;
  border: solid 4px #e6e6e3;
  width: 40px;
  height: 40px;
  font-size:.9em;
}

.steps {
  z-index:89;
}

.step-circle.active { background-color: $primary-color; color:#fdfdfd; border: solid 4px $primary-color; }
.step-circle.disable { color:#e6e6e3; }


@media only screen and (min-width: 768px) {
  #personal h4 {
    text-align: right;
  }

  #personal p {
    text-align: right;
    line-height: 1;
  }

  #personal .button {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  #personal .button {
    margin-top:10px;
  }
}


@media only screen and (min-width: 1280px) {
  .pitch-imgs {
    float: right;
    margin-right: -35%;
    margin-left: 30px;
    margin-top:10px;
    width: 80%;
  }
}

.pitch-imgs {
  margin-bottom:10px;
}

.pitch-imgs .orbit-bullets {
  margin: 0 10px;
  top: 330px;
  z-index: 99;
  cursor:pointer;
}

.pitch-imgs .orbit-container {
  border-radius: 4px;
  height:350px;
}

.pitch-imgs .orbit-container .orbit-slides-container img {
  border-radius: 4px;
  height:350px;
}

.details {
  padding-bottom: 20px;
}

.cover {
  background-color: #4a4a4a;
  top:0;
  padding-top: 80px;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  background-image: image-url('passport.jpg');
  background-size: cover !important;
  background-position: 50% 50%;
  .header {height:270px; overflow: hidden;}
  .tabs {height:60px; 
    a {line-height: 1em;}
  }
}

@media only screen and (min-width: 1200px) { .cover {padding-top: 100px;  .header {height:240px;} } }
