@import "foundation/foundation_and_overrides";
@import "helpers";


.editor-button {
  @include button-base;
}

.circle-button {
	opacity:.8;
	transition: all 200ms linear;
}

.circle-button:hover {
	opacity:1;
	transition: all 200ms linear;
}


// BUTTON TOOLBAR
.btn-group {
  background-color: #f3f3f3;
  a {
    padding: 10px 10px 10px 10px;
    color: #cccccc;
  }
}

// TEXT AREA
.ta-editor {
  background-color: #f3f3f3 !important;
  min-height: 200px;
  cursor: text;
}

.ta-editor:focus {
 outline:none;
}


.days li {
	.desc {margin-bottom: 80px;}
}

.edit, .read {
	padding-top:40px;
}

.edit {
	background-color: #f3f3f3;
}

.edit input[type="text"], .edit textarea {
	background-color: #f3f3f3;
	padding: 0;
	margin: 0;
	border: none;
	height: inherit;
	font-weight: inherit;
	box-shadow: none;
}

.edit textarea {
  min-height: 150px;
}


// UPLOAD BUTTON

.file-input.story-cover {
  padding:0;
  margin-top: -50px;
  opacity: 1;
  cursor: pointer;
  transition: all 200ms linear;
  &:hover {
    opacity:.8;
    transition: all 200ms linear;
  }
}

@media only screen and (min-width: 1279px) {
  .file-input.perday {
  float: right;
  margin: 15px -35% 30px 40px;
  }
}

@media only screen and (max-width: 1278px) {.file-input.perday {max-height: 400px; text-align: center; margin:30px 0;}}


.file-input.perday {
  padding:0;
  cursor: pointer;
  transition: all 200ms linear;
    &:hover {
    opacity:.6;
    transition: all 200ms linear;
  }
}

.file-input {
  margin: 0;
  display: block;
  overflow: hidden;
  input[type="file"] {
  display:none;
  }
}

// TIPS & TRICKS
.tips {
  border-left: 4px #00bccf solid;
  padding:1em 0 1em 2em;
  margin-bottom:40px;
}

.tip-avatar {
  width:35px; height:35px; margin-right:10px; margin-top:-5px;
}

// IMAGES
@media only screen and (min-width:1279px) {
  .day-photo {
    float: right;
    max-height: 500px;
    max-width: 550px;
  }
}
.day-photo {
  border-radius: 4px;
  width:100%;
}


// JOYRIDE
.joyride-tip-guide {
  border-radius: 4px;
}

.joyride-next-tip {
  border-radius:2px;
}

.joyride-tip-guide p {
  line-height: 1.5;
}

.joyride-tip-guide .joyride-nub.top {
  top: -127px !important;
}

.joyride-tip-guide .joyride-nub.bottom {
  bottom: -27px !important;
}
