.top-bar { background-color: #fff !important; }
.top-bar-section ul li a { background-color: #fff !important; }
.has-dropdown > a:after { border-color: rgba(87,88,90,0.5) transparent transparent transparent !important; }
.top-bar-section ul li > a { color: #57585a !important; }
.top-bar-section ul li:hover > a { color: #0cc !important; background-color: #f7f7f7 !important; }
.top-bar .toggle-topbar.menu-icon a { color: #00cccc;}
.top-bar .toggle-topbar a { color:#00cccc; }
.top-bar .name { background-color:  #fff !important; }
.top-bar-section ul { background-color: #fff !important; }
.top-bar-section .dropdown li.title h5 a { color: #00cccc; }