<%= content_for :css do %>
  <%= stylesheet_link_tag "browsexperimental", media: "all" %>
<% end %>

<div class="row">
  <div id="header" class="large-12 columns text-center">
    <%= image_tag 'o-color.png', id: 'browse-logo' %>
    <h1 class="sans">PLANNED HERE, ENJOYED EVERYWHERE.</h1>
    <p id="description">At OutTrippin, we believe that travel is about making stories that last a lifetime. These are some of the stories that that travelers have planned on OutTrippin and enjoyed around the world.</p>
    <%= link_to "Ready to plan your perfect trip?", root_url, class: "button" %>
  </div>
</div>
<ul id="plans-container">
</ul>