<style>
img {
  width: 300px;
}
</style>
<ul id="plans-container">
</ul>

<%= image_tag "loading.gif" %>
<script>
  $.get("/api/v1/plans")
    // after receiving the data (plan headers)
    .done(function(data) {
      // will iterate and display each one of them
      var container = $("#plans-container");
      $.each(data, function(i, item) {
        // append the newly loaded plan to the list
        container.append('<li style="display:none"><img src="' + item.cover + '"></li>');
      });
      $('img').load(function() {
        $('img').parent().show();
        $('img').removeAttr('id');
        console.log("loaded image :)");
      });
    });
</script>
</body>
