<head>

<style>

img {width: 30%;}

ul {
  list-style-type: none;
}

li  {
  display: inline;
}

li img {
  opacity: 0;
  -webkit-transition: opacity 2000ms;
  -moz-transition: opacity 2000ms;
  -ms-transition: opacity 2000ms;
  transition: opacity 2000ms;
}

li.loaded img { opacity: 1; }
</style>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
function imgLoaded(img) {
  var $img = $(img);
  $img.parent().addClass('loaded');
};
</script>
</head>

<body>
  <ul id="plans-container">
  </ul>
  <script>
  $.get("/api/v1/plans")
    // after receiving the data (plan headers)
    .done(function(data) {
      // will iterate and display each one of them
      var container = $("#plans-container");
      $.each(data, function(i, item) {
        // append the newly loaded plan to the list
        container.append('<li><img src="' + item.cover + '" onload="imgLoaded(this)"></li>');
      });
    });
</script>
</body>