<head>
<style>
li img {
  height: 200px;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -ms-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

li.loaded img { opacity: 1; }
</style>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
function imgLoaded(img) {
  var $img = $(img);
  $img.parent().addClass('loaded');
};
</script>
</head>

<body>
<ul id="plans-container">
</ul>

<%= image_tag "loading.gif" %>
<script>
  $.get("/api/v1/plans")
    // after receiving the data (plan headers)
    .done(function(data) {
      // will iterate and display each one of them
      var container = $("#plans-container");
      $.each(data, function(i, item) {
        // append the newly loaded plan to the list
        container.append('<li><img src="' + item.cover + '" onload="imgLoaded(this)"></li>');

      });
    });
</script>
</body>
