<div class="row large-10 small-11 small-centered large-centered columns no-padding trip">
	<div class="overlay"></div>
	<div class="large-12 detail small-12 columns">
	  <h2 class="white"><%= link_to plan.itinerary.name, itinerary_path(plan.itinerary), class: "white" %></h2>
	  <div class="large-1 hide-for-small large-centered columns">
	      <hr style="border-color:white;">
	  </div>
		<h5 class="white serif subheader text-center">
		  <%= image_tag plan.user.avatar.url(:thumb), class: "rounded text-right tip-avatar", style:"width:30px; margin-top:-5px; margin-right:5px;" %>
		  <em>By <%= plan.user.name %> &#8226; <%= plan.itinerary.destination %></em>
		</h5>
	</div>
</div>


